<%= simple_form_for @chapter do |f| %>
    <% if @chapter.errors.any? %>
        <h2><%= pluralize(@chapter.errors.count, "error") %> prevented this chapter from saving:</h2>
        <ul>
            <% @chapter.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <%= f.input :title, label: "標題", required: true %>
    <br>
    <%= f.input :content, label: "內容", required: true %>
    <br>
    <%= f.submit "送出" %>
<% end %>