<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= render 'layouts/book' %>
            <div>
                <%= to_toc(@chapter.content) %>
            </div>
            <!--<div class="sticky-top">
                    <h3>章節</h3>-->
                    <%# chapters(@chapter).each do |chapter| %>
                        <%# link_to chapter, "##{chapter.downcase.gsub(/\s/, "" ).slice!(2..-1)}" %>
                    <%# end %>
            <!--</div>-->
        </div>
        <div class="col-md-8">
            <br>
            <h1><%= @chapter.title %></h1>
            <br>
            <p><%= to_markdown(@chapter.content) %></p>
            <% if user_signed_in? %>
            <div>
                <%= link_to "編輯", edit_chapter_path(@chapter) %>
                <%= link_to "刪除", chapter_path(@chapter), method: :delete, data: {confirm: "確定要刪除這個章節？"} %>
            </div>
            <% end %>
            <%= render 'disqus' %>
        </div>
    </div>
</div>
