<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="sticky-top">
                <%= render 'layouts/book' %>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <br>
                <h3>關於我</h3>
                <br>
                <div class="col align-self-center text-center">
                    <%= image_tag("yaojenkuo.jpg", class: "img-circle") %>
                </div>
                <br>
                <p>郭耀仁畢業於臺灣大學商學研究所，是資料科學與推廣教育的愛好者，目前是新創團隊 Kyosei.ai 的共同創辦人之一，在<a href="http://train.csie.ntu.edu.tw/train/teacher.php?id=103" target="_blank">台灣大學資訊系統訓練班</a>開設多門 R 語言與 Python 的資料科學相關課程，亦與企業合作提供客製化的內訓課程。在 Kyosei.ai 之前任職過上海的新創團隊、台北的軟體公司與銀行，閒暇時喜歡長跑與乒乓球；著有<a href="http://ithelp.ithome.com.tw/users/20103511/ironman/1077" target="_blank"> R 語言使用者的 Python 學習筆記</a>系列文，是 2017 iT 邦幫忙鐵人賽 Big Data 組冠軍。</p>
            </div>
            <br>
            <div class="col align-self-center text-center">
                <a href="https://www.facebook.com/yaojen.kuo.1" target="_blank" class="social_links"><%= fa_stacked_icon "facebook", class: "fa-2x" %></a>
                <a href="https://github.com/yaojenkuo" target="_blank" class="social_links"><%= fa_stacked_icon "github", class: "fa-2x" %></a>
                <a href="https://www.linkedin.com/in/tony-yao-jen-kuo-0412a7b0/" target="_blank" class="social_links"><%= fa_stacked_icon "linkedin", class: "fa-2x" %></a>
            </div>
            <br>
        </div>
    </div>
</div>