<!DOCTYPE html>
<html>
  <head>
    <title>輕鬆學習 R 語言 | Learn R The Easy Way</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Facebook sharing -->
    <meta property="og:url"           content="http://www.learn-r-the-easy-way.tw" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="輕鬆學習 R 語言 | Learn R the Easy Way" />
    <meta property="og:description"   content="這是一本閱讀起來不那麼生澀的程式語言書籍，讓原本沒有程式基礎但是工作上有分析需求的使用者，能夠用很輕鬆的方式學會 R 語言，進而應用到工作中，提升工作掌握度。這本書的寫作風格以輕鬆簡潔作為主要訴求，理想的閱讀時間是工作日的午餐時間，我認為最好的學習就是不佔用讀者工作以外的休憩時間，因此若能夠讓讀者一邊享用美味的午餐，一邊閱讀輕鬆簡潔的程式語言書籍，該是多麽美好而且值得推廣的理念。" />
    <meta property="og:image"         content="https://storage.googleapis.com/learn-r-the-easy-way.appspot.com/learn-r-the-easy-way.png" />
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <div class="container">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
